# Ignore binaries
cmd/*
!cmd/*.go
!cmd/**/*.go

# Ignore env files
.env*

# Ignore static
web/static/properties/*
!web/static/properties/.keep

web/static/users/*
!web/static/users/sample.png
!web/static/users/.keep

# Ignore frontend files
node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
