{{define "header"}}
<header class="sticky top-0 flex bg-stone-50 px-4 py-5">
    <img src="/static/img/sibra_logo_256.webp" alt="Sibra logo" class="bg-stone-50 w-16 my-auto">
    <div class="space-y-1 my-auto ml-auto">
        <div class="w-6 h-[3px] bg-stone-800"></div>
        <div class="w-6 h-[3px] bg-stone-800"></div>
        <div class="w-6 h-[3px] bg-stone-800"></div>
    </div>
</header>
{{end}}
{{define "content"}}
<div class="px-4">
    <div class="h-[50vh] rounded-lg bg-stone-500">
        <img class="object" src="/static/img/hero_large.webp" alt="Imagen de cabecera">
    </div>
</div>
{{end}}
