<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{with .HeadTitle}}
        {{.}}
        {{else}}
        Sibra Durango
        {{end}}
    </title>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Crimson+Text:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/js/htmx.js"></script>
    <script src="/static/js/gsap.js"></script>
    <script src="/static/js/gsap-observer-plugin.js"></script>
    {{block "head" .}}
    {{end}}
</head>
<body>
    {{block "header" .}}
    {{end}}

    <main class="page text-stone-900">
    {{template "content" .}}
    </main>

    {{block "footer" .}}
    <footer class="text-stone-100 bg-slate-900">
        <div class="px-4 py-12 space-y-4 font-medium">
            <div class="space-y-2">
                <h3 class="text-lg font-semibold text-slate-500">Encuentranos en</h3>
                <p class="space-y-2">
                Gral. Anaya 101, Juan de la Barrera, 34150 Durango, Dgo.            
                </p>
            </div>
            <div class="space-y-2">
                <h3 class="text-lg font-semibold text-slate-600">Llamanos al</h3>
                <p class="space-y-2">
                Matriz
                Gral. Anaya 101, Juan de la Barrera, 34150 Durango, Dgo.
                618-194-1145
                </p>
            </div>
            <div class="flex flex-wrap justify-center px-2 pt-6 gap-8">
                <!-- <img class="w-32 " src="/static/img/logo_512.webp" alt="logo_imperio"> -->
                <img class="w-44 my-auto" src="/static/img/sibra_logo_256.webp" alt="logo_sibra">
            </div>
        </div>
        <div class="relative grid z-0 py-8 text-stone-50">
            <div class="absolute inset-0 z-0 overflow-hidden">
                <div class="absolute z-10 inset-0 bg-stone-900 opacity-80"></div>
                <img src="/static/demo-reel.jpg" alt="fondo footer" class="absolute inset-0 z-0 w-full object-center object-cover">
            </div>
            <div class="relative logo self-center justify-self-center space-y-4 z-10">
                <img src="/static/img/logo_512.webp" alt="Logo Residencial Imperio" class="w-32 m-auto">
                <p class="text-xl font-medium">Residencial Imperio</p>
            </div>
        </div>
    </footer>
    {{end}}
</body>
</html>
