{{define "header"}}
<header class="sticky top-0 flex px-4 py-5">
    <a href="/">
        <img src="/static/img/sibra_logo_256.webp" alt="Sibra logo" class="bg-stone-50 w-16 my-auto">
    </a>
    <div class="space-y-1 my-auto ml-auto">
        <div class="w-5 h-0.5 bg-stone-800"></div>
        <div class="w-5 h-0.5 bg-stone-800"></div>
        <div class="w-5 h-0.5 bg-stone-800"></div>
    </div>
</header>
{{end}}
{{define "content"}}
<div class="relative z-0 w-full h-screen bg-slate-400">

</div>
{{end}}
{{define "footer"}}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        console.log("Hello world!")
    })
</script>
{{end}}
