{{define "head"}}
<script src="/static/js/gsap-scroll-trigger.js" defer></script>
{{end}}
{{define "content"}}
<style>
    .gallery-content-pill {
        box-shadow: 0px 8px 20px -15px rgba(51, 65, 85, .3);
    }
    [data-gallery-content-btn]:not(.active):hover {
        background-color: rgb(226, 232, 240);
    }
</style>
<script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "AIzaSyDvAklgESwp2h3fLI2qOOPP9v_Oc34aosM",
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
    });

    let prop = {{.Prop}}

    async function initMap(element) {
        let { Map } = await google.maps.importLibrary("maps");
        let { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

        let map = new Map(element || document.getElementById("property-map"), {
            center: { lat: prop.lat, lng: prop.lon },
            zoom: 15,
            disableDefaultUI: true,
            zoomControl: true,
            mapId: "69a943f831b6ae9a",
        });

        let content = document.createElement("div");
        content.classList.add("p-1", "bg-indigo-800", "rounded-full", "z-0")
        content.innerHTML = `<svg class="relative w-8 h-8 fill-indigo-400 z-20"><use href="/static/svg/home.svg#home"></use></svg>`;

        let marker = new AdvancedMarkerElement({
            map,
            position: { lat: prop.lat, lng: prop.lon },
            title: prop.slug,
            content,
        });
    }

    initMap()

    document.addEventListener("DOMContentLoaded", () => {
        let ppmElem = document.getElementById("price-per-mt")
        let [n, t] = ppmElem.dataset.val.split("/")
        let val = Number(n)
        ppmElem.textContent = "$" + val.toLocaleString() + "/" + t

        // CTA Btn
        let ctaBtn = document.getElementById("cta-btn")
        let ctaWrapper = document.getElementById("cta-wrapper")
        let infoForm = document.getElementById("request-info-form")
        ctaBtn.addEventListener("click", e => {
            window.scrollBy({
                top: infoForm.offsetTop,
                left: 0,
                behavior: "smooth",
            })
        })

        let observer = new IntersectionObserver((entries, obsv) => {
            let ent = entries[0]
            let tl = gsap.timeline({ duration: .3, ease: "none" })

            if (ent.isIntersecting) {
                tl.to(ctaWrapper, { y: "100%" })
            } else {
                tl.to(ctaWrapper, { y: "0%" })
            }
        }, {
            threshold: 0,
        })

        observer.observe(infoForm)

        // Gallery
        let galleryContentWrapper = document.getElementById("gallery-content-wrapper")
        let galleryContentBtns = document.querySelectorAll("[data-gallery-content-btn]")
        let galleryPill = document.getElementById("gallery-pill")
        let galleryCloseBtn = document.getElementById("gallery-close-btn")

        let mainImgWrapper = document.getElementById("gallery-main-img-wrapper")
        let gallerySliderWrapper = document.getElementById("gallery-slider-wrapper")
        let sliderCloseBtn = document.getElementById("gallery-close-slider")
        let activeContentBtn = galleryContentBtns[0]
        let galleryToggleTl = gsap.timeline({ duration: 0.2 })
        let galleryToggleMm = gsap.matchMedia()
        let galleryWindowHeight = "100%"
        let gallerySlider = document.getElementById("gallery-slider")
        let sliderToggleTl = gsap.timeline({ duration: 0.2 })
        let listImgs = document.querySelectorAll("[data-list-image]")
        let sliderImgs = document.querySelectorAll("[data-slider-image]")
         
        mainImgWrapper.addEventListener("click", () => {
            // Disable background content scroll
            document.body.style.overflow = "hidden"
            document.body.style.height = "100vh"
            let galleryWrapper = document.getElementById("gallery-wrapper")
            let galleryBackdrop = document.getElementById("gallery-backdrop")
            let galleryWindow = document.getElementById("gallery-window")
            if (galleryWrapper.dataset.galleryInit === "true") {
                galleryToggleTl.play()
                return
            }

            galleryToggleTl.to(galleryBackdrop, { opacity: .6 })
            galleryToggleTl.to(galleryWindow, { height: galleryWindowHeight, opacity: 1 }, "<")
            galleryWrapper.dataset.galleryInit = "true"

            // Init gallery gmap
            if (galleryWrapper.dataset.galleryMapInit === "false") {
                initMap(document.getElementById("gallery-map"))
            }
        })
        galleryToggleMm.add("(min-width: 1280px)", () => {
            galleryWindowHeight = "90%"
        })
        galleryToggleMm.add("(max-width: 1279)", () => {
            galleryWindowHeight = "100%"
        })

        activeContentBtn.classList.add("text-slate-700", "font-semibold", "active")
        //galleryPill.style.width = `${galleryContentBtns[0].offsetWidth}px`

        for (let btn of galleryContentBtns) {
            btn.addEventListener("click", e => {
                let tl = gsap.timeline({duration: 0.1})

                // remove clases from previous btn
                activeContentBtn.classList.remove("text-slate-700", "font-semibold", "active")

                let btnLeft = btn.offsetLeft
                let btnWidth = btn.offsetWidth

                tl.to(galleryPill, { x: btnLeft + "px", width: btnWidth + "px" })
                activeContentBtn = btn
                btn.classList.add("text-slate-700", "font-semibold", "active")

                let currentContentElement = document.querySelector("[data-gallery-content-active=\"true\"]")
                let activeContentElement = document.querySelector("[data-gallery-content="+btn.dataset.galleryContentBtn+"]")

                tl.to(currentContentElement, { height: "0%" }, "<")
                tl.to(activeContentElement, { height: "100%" }, "<")

                currentContentElement.dataset.galleryContentActive = "false"
                activeContentElement.dataset.galleryContentActive = "true"
            })
        }

        galleryCloseBtn.addEventListener("click", e => {
            document.body.style.overflow = "auto"
            document.body.style.height = "unset"
            galleryToggleTl.reverse()
        })

        for (let listImg of listImgs) {
            let idx = parseInt(listImg.dataset.listImage)
            listImg.addEventListener("click", e => {
                gallerySlider.dataset.currentSlide = idx
                scrollToSlide(idx)
                sliderToggleTl.to(gallerySliderWrapper, { display: "flex", duration: 0 })
                sliderToggleTl.play()
            })
        }

        sliderCloseBtn.addEventListener("click", e => {
            sliderToggleTl.reverse()
        })

        /* for (let sliderImg of sliderImgs) {
            let idx = parseInt(sliderImg.dataset.sliderImage)
            let imgClone = sliderImg.cloneNode()
            if (idx === 0) {
                gallerySlider.insertAdjacentElement("beforeend", imgClone)
            } else if (idx === sliderImgs.length - 1) {
                gallerySlider.insertAdjacentElement("afterbegin", imgClone)
            }
        } */

        let sliderPrevBtn = document.getElementById("slider-prev-btn")
        let sliderNextBtn = document.getElementById("slider-next-btn")

        sliderPrevBtn.addEventListener("click", e => {
            let currentIdx = parseInt(gallerySlider.dataset.currentSlide)
            let activeIdx = currentIdx - 1
            if (activeIdx < 0) {
                activeIdx = sliderImgs.length - 1
            }
            scrollToSlide(activeIdx)
            gallerySlider.dataset.currentSlide = activeIdx
        })
        sliderNextBtn.addEventListener("click", e => {
            let currentIdx = parseInt(gallerySlider.dataset.currentSlide)
            let activeIdx = currentIdx + 1
            if (activeIdx >= sliderImgs.length) {
                activeIdx = 0
            }
            scrollToSlide(activeIdx)
            gallerySlider.dataset.currentSlide = activeIdx
        })

        function scrollToSlide(idx) {
            let tl = gsap.timeline({ duration: 0.3 })
            tl.to(gallerySlider, { x: `-${idx*100}%` }, "<")
        }
    })
</script>
<div class="relative pb-8 scroll-smooth mx-auto xl:max-w-screen-lg" id="smooth-scroll">
    {{with .Prop}}
    <div class="flex py-2 text-xs">
        <div class="flex items-center gap-1 font-bold text-indigo-700">
            <svg class="rotate-180 w-6 h-6 fill-current">
                <use href="/static/svg/sprites.svg#angle"></use>
            </svg>
            <a href="/propiedades/{{.Contract}}" class="">Volver a buscar</a>
        </div>
    </div>

    <!-- Galery -->
    <div 
        id="gallery-wrapper" 
        class="flex items-center justify-center fixed inset-0 pointer-events-none overflow-hidden z-50"
        data-gallary-init="false"
        data-gallery-map-init="false"
        data-gallery-active="active">
        <div class="absolute inset-0 bg-slate-700 z-0 opacity-0" id="gallery-backdrop"></div>

        <div class="relative w-full h-0 lg:w-[98%] rounded bg-stone-50 z-10 pointer-events-auto overflow-hidden" id="gallery-window">
            <div class="grid grid-cols-1 h-full xl:grid-cols-[80%_20%] grid-rows-[3.5rem_1fr]">
                <div class="flex col-span-full row-start-1 self-center px-2">

                    <div class="relative flex h-full capitalize gap-1" id="content-selectors">
                        <div 
                            class="absolute left-0 top-0 bottom-0 border border-slate-200 px-3 py-2 rounded text-transparent gallery-content-pill z-0"
                            id="gallery-pill">fotos</div>
                        <button 
                            class="border border-transparent px-3 py-2 rounded z-10" 
                            data-gallery-content-btn="images">Fotos</button>
                        <button 
                            class="border border-transparent px-3 py-2 rounded z-10" 
                            data-gallery-content-btn="map">Mapa</button>
                    </div>

                    <div class="flex items-center basis-1/3 grow-0 shrink ml-auto">
                        <button class="w-4 h-4 ml-auto mr-1" id="gallery-close-btn">
                            <svg class="w-4 h-4 fill-slate-900">
                                <use href="/static/svg/times.svg#times"></use>
                            </svg>
                        </button>
                    </div>
                </div>

                <div 
                    class="col-start-1 row-start-2 h-[calc(100vh-3.5rem)] xl:h-full overflow-hidden" 
                    id="gallery-content-wrapper">
                    <div 
                        class="flex flex-wrap gap-4 h-full xl:grid xl:grid-cols-6 xl:gap-2 overflow-auto" 
                        id="gallery-list"
                        data-gallery-content="images"
                        data-gallery-content-active="true">
                        {{range $idx, $img := .Images}}
                        <img 
                        src="/static/properties/{{$.Prop.Id}}/{{$img}}"
                        alt="Fotografia de la propiedad en {{$.Prop.Address}}, {{$.Prop.NbHood}} {{$.Prop.Zip}} No. {{$idx}}"
                        class="w-full max-h-96 object-cover {{GetImgSpan $idx}} rounded cursor-pointer transition hover:scale-[1.01]"
                        data-list-image="{{$idx}}">
                        {{end}}
                    </div>
                    <div 
                        class="relative h-0" 
                        id="gallery-map" 
                        data-gallery-content="map"
                        data-gallery-content-active="false">
                    </div>
                </div>

                <div class="hidden xl:block col-start-2 row-start-2 p-1 pl-4">
                    {{with (SetField $ "idPrefix" "gallery-")}}
                    {{template "request-form" .}}
                    {{end}}
                </div>
            </div>
            <div 
                class="flex-col justify-between max-w-full overflow-hidden fixed inset-0 bg-slate-900 bg-opacity-90 z-50 hidden"
                id="gallery-slider-wrapper"
                data-slider-init="false">
                <div class="flex items-center justify-auto px-4 pt-4">
                    <!-- <p class="text-lg text-stone-50" id="gallery-slide-count">1/{{len .Images}}</p> -->
                    <button class="w-4 h-4 ml-auto mr-1" id="gallery-close-slider">
                        <svg class="w-4 h-4 fill-stone-50">
                            <use href="/static/svg/times.svg#times"></use>
                        </svg>
                    </button>
                </div>
                <div class="flex items-center absolute top-1/2 left-0 -translate-y-1/2 z-40">
                    <button class="ml-2 bg-slate-500 p-1 rounded-full" id="slider-prev-btn">
                        <svg class="w-8 h-8 fill-slate-200 rotate-180">
                            <use href="/static/svg/sprites.svg#angle"></use>
                        </svg>
                    </button>
                </div>
                <div
                    class="relative flex-auto max-h-[80%] flex justify-stretch overflow-visible snap-x snap-mandatory" 
                    id="gallery-slider"
                    data-current-slide="0">
                    {{range $idx, $img := .Images}}
                    <img
                        src="/static/properties/{{$.Prop.Id}}/{{.}}" 
                        alt="Fotografia de la propiedad en {{$.Prop.Address}}, {{$.Prop.NbHood}} {{$.Prop.Zip}} No." 
                        class="basis-full grow shrink-0 object-contain"
                        data-slider-image="{{$idx}}">
                    {{end}}
                </div>
                <div class="flex items-center absolute top-1/2 right-0 -translate-y-1/2 z-40">
                    <button class="mr-2 bg-slate-500 p-1 rounded-full" id="slider-next-btn">
                        <svg class="w-8 h-8 fill-slate-200">
                            <use href="/static/svg/sprites.svg#angle"></use>
                        </svg>
                    </button>
                </div>
                <div class="h-14 bg-stone-50 px-4 pt-1">
                    <button class="w-full py-2 rounded bg-rose-600 flex-1 mb-auto text-stone-50">Agendar Cita</button>
                </div>
            </div>
        </div>
    </div>

    <div class="relative">
        <div class="absolute top-2 left-2 flex flex-wrap gap-2 text-xs font-bold uppercase">
            <p class="bg-stone-50 text-slate-800 p-1 rounded">{{.Contract}}</p>
        </div>

        <div class="h-72 flex items-center cursor-pointer md:h-96 lg:h-[40vh]" id="gallery-main-img-wrapper">
            {{if ne .MainImg ""}}
            <img src="/static/properties/{{.Id}}/{{.MainImg}}" alt="Imagen propiedad en {{.Address}}" class="w-full h-auto max-h-full object-center object-cover xl:rounded-md">
            {{else}}
            <img src="https://picsum.photos/300/200.webp" alt="Imagen propiedad en {{.Address}}" class="w-full h-auto max-h-full object-center object-cover xl:rounded-md">
            {{end}}
        </div>
    </div>
    <div class="flex">
        <div class="p-4 space-y-3 xl:w-3/5">
            <div class="space-y-1">
                <h1 class="text-2xl font-semibold">{{.Address}}</h1>
                <p class="text-slate-400">{{.City}}, {{.State}} {{.Zip}}</p>
            </div>
            <div class="grid grid-cols-3 grid-rows-1 gap-1">
                <div class="col-start-1 col-end-3 space-y-1">
                    <p class="text-2xl font-bold">{{FormatMoney .Price}}</p>
                    <p class="text-xs text-slate-400 w-[24ch]">Contactanos para obtener información sobre el <br>financiamiento de este inmueble</p>
                </div>
                <div class="flex flex-col justify-evenly self-center col-start-3 gap-2 text-sm">
                    <p class="flex gap-2 items-end">
                    <svg class="w-5 h-5 fill-slate-700">
                        <use href="/static/svg/bed.svg#bed"></use>
                    </svg>
                    <span>{{.Beds}} Hab(s)</span>
                    </p>
                    <p class="flex gap-2 items-end">
                    <svg class="w-5 h-5 fill-slate-700">
                        <use href="/static/svg/bath.svg#bath"></use>
                    </svg>
                    <span>{{.Baths}} Baño(s)</span>
                    </p>
                    <p class="flex gap-2 items-end">
                    <svg class="w-5 h-5 fill-slate-700">
                        <use href="/static/svg/square.svg#square"></use>
                    </svg>
                    <span>{{.SqMt}} m²</span>
                    </p>
                </div>
            </div>
            <div class="">
                <h3 class="text-lg font-bold">Mapa</h3>
                <div class="py-1"></div>
                <div class="relative">
                    <div class="w-full aspect-video rounded" id="property-map"></div>
                </div>
            </div>
            <div class="py-0.5"></div>
            <div class="">
                <h3 class="text-lg font-bold">Descripcion</h3>
                <div class="py-1"></div>
                <p class="text-sm text-slate-700">{{.Description}}</p>
            </div>
            <div class="py-0.5"></div>
        </div>
        {{with (SetField $ "idPrefix" "side-")}}
        {{template "request-form" .}}
        {{end}}
    </div>
    <div class="px-4">
        <div class="border border-slate-300 p-4 rounded">
            <h3 class="text-lg font-bold">Detalles</h3>
            <div class="py-2"></div>
            <div class="flex flex-wrap gap-y-3">
                <div class="basis-full md:basis-1/2 grid grid-cols-2">
                    <p class="col-start-1 row-start-1 text-slate-500 font-light">Año de construcción</p>
                    <p class="col-start-2 row-start-1 text-slate-900 font-bold">{{.YearBuilt}}</p>
                </div>
                <div class="basis-full md:basis-1/2 grid grid-cols-2">
                    <p class="col-start-1 row-start-1 text-slate-500 font-light">Tipo</p>
                    <p class="col-start-2 row-start-1 text-slate-900 font-bold capitalize">{{.PropType}}</p>
                </div>
                <div class="basis-full md:basis-1/2 grid grid-cols-2">
                    <p class="col-start-1 row-start-1 text-slate-500 font-light">Agregada el</p>
                    <p class="col-start-2 row-start-1 text-slate-900 font-bold">{{FormatDate .ListingDate}}</p>
                </div>
                <div class="basis-full md:basis-1/2 grid grid-cols-2">
                    <p class="col-start-1 row-start-1 text-slate-500 font-light">Precio/m²</p>
                    <p class="col-start-2 row-start-1 text-slate-900 font-bold" data-val="{{CalcPricePerM .Price .SqMt}}" id="price-per-mt">${{CalcPricePerM .Price .SqMt}}</p>
                </div>
            </div>
        </div>
    </div>
    {{end}}
    {{with .NearbyProps}}
    <div class="py-2"></div>
    <div class="px-4">
        <h2 class="text-xl text-slate-800 font-bold">Propiedades Cerca</h2>
        <div class="py-1"></div>
        <div class="flex max-w-full  gap-2 overflow-x-auto overflow-y-hidden">
            {{range .}}
            <a href="/propiedades/{{.Contract}}/{{.Id}}" class="block basis-56 grow-0 shrink-0 pb-2">
                <div class="h-32">
                    <img src="/static/properties/{{.Id}}/{{.MainImg}}" alt="Fotografia fachada de la propiedad en {{.Address}}" class="w-full h-auto max-h-full object-center object-cover rounded">
                </div>

                <div class="flex-auto py-2 space-y-0.5">
                    <p class="text-lg font-bold">{{FormatMoney .Price}}</p>
                    <div class="flex gap-2 text-[10px]">
                        <div class="flex items-center gap-1">
                            <svg class="w-4 h-4 fill-slate-600">
                                <use href="/static/svg/bed.svg#bed"></use>
                            </svg>
                            <span>{{.Beds}} Hab(s)</span>
                        </div>
                        <div class="flex items-center gap-1">
                            <svg class="w-4 h-4 fill-slate-600">
                                <use href="/static/svg/bath.svg#bath"></use>
                            </svg>
                            <span>{{.Baths}} Baño(s)</span>
                        </div>
                        <div class="flex items-center gap-1">
                            <svg class="w-4 h-4 fill-slate-600">
                                <use href="/static/svg/square.svg#square"></use>
                            </svg>
                            <span>{{.SqMt}}m<sup>2</sup></span>
                        </div>
                    </div>
                    <p class="text-sm text-slate-500">{{.Address}}, <br>{{.NbHood}} {{.Zip}}</p>
                    <!-- <p class="text-sm text-slate-400">Subida por Jairo Rangel</p> -->
                </div>
            </a>
            {{end}}
        </div>
    </div>
    {{end}}

    <!-- Contact Form -->
    <div class="py-4"></div>
    <div class="flex flex-wrap scroll-m-16 gap-x-4 px-4" id="request-info-form">
        <h2 class="basis-full shrink-0 text-xl text-slate-800 font-bold">Solicitar información</h2>
        <div class="basis-full lg:flex-auto shrink mt-2.5">
        {{with (SetField $ "idPrefix" "")}}
        {{template "request-form" .}}
        {{end}}
        </div>
        <div class="flex flex-col basis-full lg:flex-auto p-4 mt-2.5">
            <h3 class="text-lg font-semibold text-slate-700 ml-0">Contacta a un Asesor</h3>
            <div class="flex-auto grid grid-cols-1 grid-rows-1">
                <div class="row-start-1 col-start-1 p-4 text-center">
                    {{with .Prop.AgentData}}
                    {{$a := .}}
                    <div class="flex mx-auto rounded-md overflow-hidden pb-2">
                        {{with .Img}}
                        <div class="h-40 w-40 mx-auto">
                            <img src="/static/users/{{.}}" alt="Imagen de perfil del agente {{$a.Name}}" class="w-full max-h-full object-cover object-center rounded-full">
                        </div>
                        {{else}}
                        <div class="py-6 m-auto">
                            <svg class="h-20 w-20 fill-slate-400">
                                <use href="/static/svg/sprites.svg#user"></use>
                            </svg>
                        </div>
                        {{end}}
                    </div>
                    <div class="py-0.5"></div>
                    <p class="text-lg font-bold">{{.Name}}</p>
                    {{if eq .Phone ""}}
                    <p class="text-sm text-slate-500">618-194-1145</p>
                    {{else}}
                    <p class="text-sm text-slate-500">{{.Phone}}</p>
                    {{end}}
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    <div class="fixed bottom-0 left-0 right-0 w-screen bg-stone-50 p-4 pb-2 border-t border-slate-300 z-40 xl:hidden" id="cta-wrapper">
        <button class="w-full bg-rose-700 text-stone-50 py-2 rounded" type="button" id="cta-btn">Agendar Cita</button>
    </div>
</div>
{{end}}
<div class="col-span-3"> </div>
<div class="col-span-2"> </div>
<div class="col-span-full"> </div>
