{{block "request-form" .}}
<form 
    class="{{with .idPrefix}}hidden {{end}}flex-1 border border-slate-300 rounded bg-stone-50 m-auto p-4 shadow shadow-slate-100 xl:block"
    hx-post="/api/requests"
    hx-swap="outerHTML"
    {{with .formId}}id="{{.}}"{{end}}>
    {{with .formId}}<input type="hidden" name="form-id" id="{{with $.idPrefix}}{{.}}{{end}}form-id" class="visibility-hidden">{{end}}
    <input type="hidden" name="property" id="{{with $.idPrefix}}{{.}}{{end}}property" class="visibility-hidden" value="{{.Prop.Id}}">
    <input type="hidden" name="agent" id="{{with $.idPrefix}}{{.}}{{end}}agent" class="visibility-hidden" value="{{.Prop.Agent}}">
    <h2 class="text-lg font-semibold text-slate-700">Agendar Cita</h2>
    <div class="py-1"></div>
    <div class="space-y-1">
        <label for="{{with .idPrefix}}{{.}}{{end}}phone" class="block text-sm text-slate-400">Teléfono</label>
        <input class="w-full border {{with .Invalid.name}}border-rose-700 text-rose-700 bg-rose-200 placeholder:text-rose-600{{else}}border-slate-300{{end}} rounded px-2 py-1 focus:outline-slate-700" type="tel" name="phone" id="{{with .idPrefix}}{{.}}{{end}}phone" placeholder="6181231212" required {{with .Data.phone}}value="{{.}}"{{end}}>
    </div>
    <div class="py-1"></div>
    <div class="space-y-1">
        <label for="{{with .idPrefix}}{{.}}{{end}}name" class="block text-sm text-slate-400">Nombre</label>
        <input class="w-full border {{with .Invalid.name}}border-rose-700 text-rose-700 bg-rose-200 placeholder:text-rose-600{{else}}border-slate-300{{end}} rounded px-2 py-1 focus:outline-slate-700" type="text" name="name" id="{{with .idPrefix}}{{.}}{{end}}name" placeholder="Juan Perez" required {{with .Data.name}}value="{{.}}"{{end}}>
    </div>
    <div class="py-1"></div>
    <div class="space-y-1">
        <label for="type" class="block text-sm text-slate-400">Quiero:</label>
        <select class="border border-slate-300 px-2 py-1 rounded w-full" name="type" id="{{with .idPrefix}}{{.}}{{end}}name">
            <option value="cita">Una cita</option>
            <option value="info">Recibir información</option>
        </select>
    </div>
    <div class="py-1.5"></div>
    <div class="flex items-start gap-2">
        <input type="checkbox" name="agree" id="{{with .idPrefix}}{{.}}{{end}}agree" class="p-1.5" required>
        <label for="{{with .idPrefix}}{{.}}{{end}}agree" class="text-xs text-slate-500 font-bold">Acepto que se me contacte por medio de whatsapp o llamada</label>
    </div>
    {{with .Error}}
    <div class="py-2"></div>
    <p class="text-xs text-rose-700 font-bold">Ocurrió un error al procesar tu solicitud. Revisa el formulario y vuelve a intentarlo.</p>
    {{end}}
    {{with .Success}}
    <div class="py-2"></div>
    <p class="text-sm text-emerald-500 font-bold">Se ha generado la solicitud con exito. Pronto te contactara un asesor</p>
    {{end}}
    <div class="py-2"></div>
    <button class="w-full py-2 rounded text-stone-50 bg-slate-700" type="submit">Enviar</button>
</form>
{{end}}
