{{define "content"}}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let passwordInp = document.getElementById("password")
        let showPwCheck = document.getElementById("showPassword")
        
        showPwCheck.addEventListener("change", e => {
            let show = showPwCheck.checked

            if (show) {
                password.type = 'text'
            } else {
                password.type = 'password'
            }
        })
    })
</script>
<div class="page bg-stone-50 md:px-8 mx-auto p-4 overflow-x-hidden overflow-y-auto">
    <h1 class="text-xl font-semibold text-primary-800 pt-12 mb-6 mx-auto">Iniciar Sesión</h1>
    <form
        class="max-w-sm space-y-2 md:space-y-4 mx-auto"
        hx-post="{{if .IsUserSignin}}/sign-in{{else}}/admin/sign-in{{end}}">
        <p class="hidden md:block text-lg font-medium text-primary-800 pb-4">Inicia Sesión</p>
        <div class="space-y-1">
            <label for="username" class="text-primary-800 text-xs font-semibold uppercase">Usuario</label>
            <input type="text" name="username" id="username" class="w-full rounded bg-stone-200 text-primary-900 p-2 focus:outline-primary-800">
        </div>
        <div class="space-y-1">
            <label for="password" class="text-primary-800 text-xs font-semibold uppercase">Contraseña</label>
            <input type="password" name="password" id="password" class="w-full rounded bg-stone-200 text-primary-900 shadow-inner shadow-stone-200 p-2 focus:outline-primary-800">
        </div>
        <div class="flex gap-2 items-center py-4">
            <input class="p-1" type="checkbox" name="showPassword" id="showPassword">
            <label for="showPassword" class="text-stone-500">Mostrar contraseña</label>
        </div>
        {{with .FormInvalid}}
        <p class="text-secondary-500 font-medium" id="form-invalid-feedback" data-form-invalid-tag="">
            El formulario contiene información inválida
        </p>
        {{end}}
        <button class="w-full text-zinc-50 bg-slate-800 px-4 py-2 rounded uppercase">Acceder</button>
    </form>
</div>
{{end}}
