<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{with .HeadTitle}}
        {{.}}
        {{else}}
        Sibra Durango
        {{end}}
    </title>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Crimson+Text:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/js/htmx.js"></script>
    <script src="/static/js/gsap.js"></script>
    <script src="/static/js/gsap-observer-plugin.js"></script>
    {{block "head" .}}
    {{end}}
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // Select active navlink
            let navLinks = document.querySelectorAll("[data-nav-href]")
            let path = window.location.pathname

            for (l of navLinks) {
                if (path === l.dataset.navHref) {
                    l.classList.replace("text-stone-400", "text-stone-700")
                    l.classList.add("font-bold")
                } else {
                    l.classList.replace("text-stone-700", "text-stone-400")
                    l.classList.remove("font-bold")
                }
            }
        })
    </script>
    <div class="flex gap-0 w-screen h-screen overflow-hidden">
        <div class="relative bg-stone-50 basis-auto shrink-0 grow-0 px-6 border-r border-slate-300 z-30" id="navbar">
            <div class="relative flex h-14">
                <img src="/static/img/sibra_logo_256.webp" alt="Logo de sibra durango" class="w-16 h-auto my-auto" id="navbar-logo">

                <!-- <button class="rounded-full bg-white border border-slate-200 my-auto -mr-4 p-1 rotate-180 hover:bg-stone-50 hover:border-2 transition" id="navbar-toggler">
                    <svg class="h-6 w-6 fill-slate-800">
                    <use href="/static/svg/sprites.svg#angle"></use>
                    </svg>
                    </button> -->
            </div>

            <ul class="space-y-0.5">
                <li class="relative text-stone-400 navbar-link" data-nav-href="/admin">
                    <a href="/admin" class="flex items-center text-sm py-2 gap-x-2">
                        <svg class="w-6 h-6 fill-none stroke-current">
                            <use href="/static/svg/cube.svg#cube"></use>
                        </svg>
                        <p class="">Inicio</p>
                    </a>
                </li>
                <li class="relative text-stone-400 navbar-link" data-nav-href="/admin/propiedades">
                    <a href="/admin/propiedades" class="flex items-center text-sm py-2 gap-x-2">
                        <svg class="w-6 h-6 fill-current">
                            <use href="/static/svg/home.svg#home"></use>
                        </svg>
                        <p class="">Propiedades</p>
                    </a>
                </li>
                <li class="relative text-stone-400 navbar-link" data-nav-href="/admin/usuarios">
                    <a href="/admin/mi-usuario" class="flex items-center text-sm py-2 gap-x-2">
                        <svg class="w-6 h-6 fill-current">
                            <use href="/static/svg/sprites.svg#user"></use>
                        </svg>
                        <p class="">Mi usuario</p>
                    </a>
                </li>
                {{if eq .User.Role "admin"}}
                <li class="relative text-stone-400 navbar-link" data-nav-href="/admin/usuarios">
                    <a href="/admin/usuarios" class="flex items-center text-sm py-2 gap-x-2">
                        <svg class="w-6 h-6 fill-current">
                            <use href="/static/svg/users.svg#users"></use>
                        </svg>
                        <p class="">Usuarios</p>
                    </a>
                </li>
                {{end}}
            </ul>
        </div>
        <div class="flex flex-col flex-auto overflow-y-auto overflow-x-hidden">
            <div class="basis-14 grow-0 shrink-0 flex items-center bg-stone-50 border-b border-slate-300 px-8">
                <h1 class="font-semibold">SIBRA</h1>
            </div>
            <div class="flex flex-col flex-auto py-2 px-4">
                {{block "content" .}}
                <h3 class="text-lg">Bienvenido, {{.User.Fullname}}</h3>
                <div class="py-2"></div>
                <div class="grid grid-cols-3 gap-2">
                    <a href="/admin/propiedades/nueva" class="aspect-square flex flex-col bg-stone-50 border border-slate-300 text-slate-300 rounded items-center justify-center hover:bg-stone-100 hover:text-slate-600 hover:border-slate-400">
                        <svg class="w-8 h-8 fill-current">
                            <use href="/static/svg/home.svg#home"></use>
                        </svg>
                        <p class="text-lg">Registrar Propiedad</p>
                    </a>
                </div>
                {{end}}
            </div>
        </div>
    </div>

</body>
</html>
