{{block "prop-pic-form" .}}
<form 
    hx-put="/api/property/{{with .Data}}{{index .id 0}}{{else}}01902e90-b3e9-706d-be33-8a071d934aed{{end}}/pictures"
    hx-encoding="multipart/form-data"
    hx-swap="outerHTML"
    {{with .PicSwapOob}}hx-swap-oob="true"{{end}}
    class="relative border {{with .UploadError}}border-rose-700{{else}}{{with .UploadSuccess}}border-emerald-400{{else}}border-slate-300{{end}}{{end}} rounded px-4 py-2 space-y-2"
    id="property-pic-form">
    <div class="absolute inset-0 bg-slate-700 opacity-60 hidden items-center justify-center rounded" id="pic-upload-loader">
        <div class="space-y-4">
            <svg class="fill-slate-300 w-16 h-16 mx-auto animate-spin">
                <use href="/static/svg/spinner.svg#spinner"></use>
            </svg>
            <p class="text-xl font-semibold text-slate-300">Cargando...</p>
        </div>
    </div>

    <h3 class="font-bold {{with .UploadError}}text-rose-700{{else}}{{with .UploadSuccess}}text-emerald-400{{else}}text-slate-700{{end}}{{end}}">Imagenes de la propiedad</h3>

    <div class="basis-1/2 grow-0 space-y-1">
        <label for="prop-pic-inp" class="block text-xs {{with .UploadError}}text-rose-700{{else}}{{with .UploadSuccess}}text-emerald-400{{else}}text-slate-400{{end}}{{end}} font-semibold">Imagenes</label>
        <input 
        type="file"
        name="prop-pic-inp"
        id="prop-pic-inp"
        class="w-full border border-slate-300 rounded px-2 py-1"
        accept="image/*"
        multiple
        required>
    </div>

    <div class="flex flex-wrap gap-2 justify-evenly basis-full p-2 border border-slate-300 rounded" id="picture-preview">
        <p class="text-lg text-slate-300 font-bold py-12">Agrega imagenes de la propiedad</p>
    </div>

    <div class="py-1"></div>

    <div class="basis-1/2 grow-0 space-y-1">
        <label for="prop-pic-inp" class="block text-xs text-slate-400 font-semibold">Imagen principal</label>
        <input 
        type="file"
        name="main-pic"
        id="main-pic"
        class="w-full border border-slate-300 rounded px-2 py-1"
        accept="image/*"
        required>
    </div>
    <div class="flex flex-wrap gap-2 justify-evenly basis-full p-2 border border-slate-300 rounded" id="main-preview">
        <p class="text-lg text-slate-300 font-bold py-12">Agrega la imagen principal para la propiedad</p>
    </div>
    <div class="py-1"></div>
    {{with .ResultMessage}}
    <p class="text-right font-bold {{with $.UploadError}}text-rose-700{{else}}text-emerald-400{{end}}">{{.}}</p>
    {{end}}
    <div class="py-2"></div>
    <div class="basis-full flex justify-end">
        <div class="flex justify-end">
            <button
                class="basis-1/3 px-4 py-2 rounded bg-slate-700 text-stone-50 disabled:opacity-80" 
                type="submit"
                {{/* with .Data}}{{else}}disabled{{end */}}>Enviar</button>
        </div>
    </div>
</form>
{{end}}
