{{define "property-card"}}
<div class="max-h-24 flex bg-stone-50 property-card border-y border-slate-300">
    <img src="/static/properties/{{.Id}}/{{.MainImg}}" alt="Fotografia fachada de la propiedad en {{.Address}}" class="w-1/5 object-cover">
    <div class="flex-auto p-2">
        <p class="text-lg font-bold">{{.Address}}, {{.NbHood}} {{.Zip}}</p>
        <div class="py-0.5"></div>
        <p class="text-sm">{{FormatMoney .Price}}</p>
        <div class="flex gap-2 text-xs">
            <div class="flex items-center gap-1">
                <svg class="w-4 h-4 fill-slate-600">
                    <use href="/static/svg/bed.svg#bed"></use>
                </svg>
                <span>{{.Beds}} Hab(s)</span>
            </div>
            <div class="flex items-center gap-1">
                <svg class="w-4 h-4 fill-slate-600">
                    <use href="/static/svg/bath.svg#bath"></use>
                </svg>
                <span>{{.Baths}} Baño(s)</span>
            </div>
            <div class="flex items-center gap-1">
                <svg class="w-4 h-4 fill-slate-600">
                    <use href="/static/svg/square.svg#square"></use>
                </svg>
                <span>{{.SqMt}}m<sup>2</sup></span>
            </div>
        </div>
        <!-- <p class="text-sm text-slate-400">Subida por Jairo Rangel</p> -->
    </div>
    <div class="w-1/5 border-l border-slate-300">
        <a href="/admin/propiedades/editar/{{.Id}}" class="flex items-center justify-center h-1/2 bg-slate-700 text-stone-50 w-full border-b">Editar</a>
        <a href="/admin/propiedades/eliminar/{{.Id}}" class="flex items-center justify-center h-1/2 bg-rose-700 text-stone-50 w-full">Eliminar</a>
    </div>
</div>
{{end}}
