{{block "prop-form" .}}
<form 
    {{with .IsEditForm}}
    hx-put="/api/property/{{$.Data.id}}"
    {{else}}
    hx-post="/api/property" 
    {{end}}
    hx-swap="outerHTML"
    class="relative border {{with .Invalid}}border-rose-700{{else}}{{with .Success}}border-emerald-400{{else}}border-slate-300{{end}}{{end}} rounded px-4 py-2 space-y-2"
    id="new-property-form">
    <div class="absolute inset-0 bg-slate-700 opacity-60 hidden items-center justify-center rounded" id="new-property-loader">
        <div class="space-y-4">
            <svg class="fill-slate-300 w-16 h-16 mx-auto animate-spin">
                <use href="/static/svg/spinner.svg#spinner"></use>
            </svg>
            <p class="text-xl font-semibold text-slate-300">Cargando...</p>
        </div>
    </div>
    <h3 class="font-bold {{with .Invalid}}text-rose-700{{else}}{{with .Success}}text-emerald-400{{else}}text-slate-700{{end}}{{end}}">Informacion de la propiedad</h3>
    <div class="flex gap-2">
        <div class="basis-1/2 grow-0 space-y-1">
            <label for="address" class="block text-xs text-slate-400 font-semibold">Domicilio</label>
            <input type="text" name="address" id="address" class="w-full border border-slate-200 rounded px-2 py-1" placeholder="Gral. Anaya #101 int 4" {{with .Data.address}}value="{{.}}"{{end}} required>
        </div>

        <div class="basis-1/2 grow-0 space-y-1">
            <label for="nbHood" class="block text-xs text-slate-400 font-semibold">Colonia/Fracc.</label>
            <input type="text" name="nbHood" id="nbHood" class="w-full border border-slate-200 rounded px-2 py-1" placeholder="Col. Juan de la Barrera" {{with .Data.nbHood}}value="{{.}}"{{end}} required>
        </div>
    </div>

    <div class="flex gap-2">
        <div class="basis-full grow-0 space-y-1">
            <label for="description" class="block text-xs text-slate-400 font-semibold">Descripción</label>
            <input type="text" name="description" id="description" class="w-full border border-slate-200 rounded px-2 py-1" placeholder="Casa de 2 pisos con fachada naranja. 2 habitaciones y 1 baño." {{with .Data.description}}value="{{.}}"{{end}} required>
        </div>
    </div>

    <div class="flex gap-2">
        <div class="basis-1/3 grow-0 space-y-1">
            <label for="city" class="block text-xs text-slate-400 font-semibold">Ciudad</label>
            <input type="text" name="city" id="city" class="w-full border border-slate-200 rounded px-2 py-1" placeholder="Durango" {{with .Data.city}}value="{{.}}"{{end}} required>
        </div>

        <div class="basis-1/3 grow-0 space-y-1">
            <label for="state" class="block text-xs text-slate-400 font-semibold">Estado</label>
            <input type="text" name="state" id="state" class="w-full border border-slate-200 rounded px-2 py-1" placeholder="Durango" {{with .Data.state}}value="{{.}}"{{end}} required>
        </div>

        <div class="basis-1/3 grow-0 space-y-1">
            <label for="zip" class="block text-xs text-slate-400 font-semibold">Código Postal</label>
            <input type="text" name="zip" id="zip" class="w-full border border-slate-200 rounded px-2 py-1" placeholder="34158" {{with .Data.zip}}value="{{.}}"{{end}} required>
        </div>
    </div>

    <div class="flex gap-2">
        <div class="basis-1/2 grow-0 space-y-1">
            <label for="country" class="block text-xs text-slate-400 font-semibold">País</label>
            <input type="text" name="country" id="country" class="w-full border border-slate-200 rounded px-2 py-1" placeholder="México" {{with .Data.country}}value="{{.}}"{{end}}>
        </div>

        <div class="basis-1/2 grow-0 space-y-1">
            <label for="price" class="block text-xs text-slate-400 font-semibold">Precio</label>
            <input type="text" name="price" id="price" class="w-full border {{with .Invalid.Price}}border-rose-700 text-rose-700 bg-rose-100{{else}}border-slate-200{{end}} rounded px-2 py-1" placeholder="2_800_000" {{with .Data.price}}value="{{.}}"{{end}} required>
            {{with .Invalid}}
            {{if .Price}}
            <p class="text-xs font-bold text-rose-700" id="invalid-price">
            El precio es invalido
            </p>
            {{end}}
            {{end}}
            <p class="text-xs font-bold text-slate-400">Si necesitas separar los números puedes hacerlo con '_' (ej. 2_000)</p>
        </div>
    </div>

    <div class="flex gap-2">
        <div class="basis-1/2 grow-0 space-y-1">
            <label for="propType" class="block text-xs text-slate-400 font-semibold">Tipo de Propiedad</label>
            <select type="text" name="propType" id="propType" class="w-full border border-slate-200 rounded px-2 py-1" required>
                <option value>Elige un tipo de propiedad</option>
                <option 
                value="casa"
                {{with .Data}}{{if eq (.propType) "casa"}}selected{{end}}{{end}}>
                Casa
                </option>
                <option
                value="apartamento" 
                {{with .Data}}{{if eq (.propType) "apartamento"}}selected{{end}}{{end}}>
                Apartamento
                </option>
                <option
                value="terreno"
                {{with .Data}}{{if eq (.propType) "terreno"}}selected{{end}}{{end}}>
                Terreno
                </option>
            </select>
        </div>

        <div class="basis-1/2 grow-0 space-y-1">
            <label for="lotSize" class="block text-xs text-slate-400 font-semibold">Construccion (m<sup>2</sup>)</label>
            <input type="text" name="lotSize" id="lotSize" class="w-full border {{with .Invalid.LotSize}}border-rose-700 text-rose-700 bg-rose-100{{else}}border-slate-200{{end}} rounded px-2 py-1" placeholder="90" {{with .Data.lotSize}}value="{{.}}"{{end}} required>
            {{with .Invalid.LotSize}}
            <p class="text-xs font-bold text-rose-700" id="invalid-lotSize">
            La construccion es invalida
            </p>
            {{end}}
        </div>
    </div>
    <div class="flex gap-2">
        <div class="basis-1/3 grow-0 space-y-1">
            <label for="beds" class="block text-xs text-slate-400 font-semibold">Habitaciones</label>
            <input type="text" name="beds" id="beds" class="w-full border {{with .Invalid.Beds}}border-rose-700 text-rose-700 bg-rose-100{{else}}border-slate-200{{end}} rounded px-2 py-1" placeholder="3" {{with .Data.beds}}value="{{.}}"{{end}} required>
            {{with .Invalid}}
            {{if .Beds}}
            <p class="text-xs font-bold text-rose-700" id="invalid-beds">
            El número de habitaciones es invalido
            </p>
            {{end}}
            {{end}}
        </div>

        <div class="basis-1/3 grow-0 space-y-1">
            <label for="baths" class="block text-xs text-slate-400 font-semibold">Baños</label>
            <input type="text" name="baths" id="baths" class="w-full border {{with .Invalid.Baths}}border-rose-700 text-rose-700 bg-rose-100{{else}}border-slate-200{{end}} rounded px-2 py-1" placeholder="3" {{with .Data.baths}}value="{{.}}"{{end}} required>
            {{with .Invalid}}
            {{if .Baths}}
            <p class="text-xs font-bold text-rose-700" id="invalid-baths">
            El número de baños es invalido
            </p>
            {{end}}
            {{end}}
        </div>

        <div class="basis-1/3 grow-0 space-y-1">
            <label for="sqMt" class="block text-xs text-slate-400 font-semibold">Superficie (m<sup>2</sup>)</label>
            <input type="text" name="sqMt" id="sqMt" class="w-full border {{with .Invalid.SqMt}}border-rose-700 text-rose-700 bg-rose-100{{else}}border-slate-200{{end}} rounded px-2 py-1" placeholder="90" {{with .Data.sqMt}}value="{{.}}"{{end}} required>
            {{with .Invalid}}
            {{if .SqMt}}
            <p class="text-xs font-bold text-rose-700" id="invalid-sqMt">
            La superficie es invalida
            </p>
            {{end}}
            {{end}}
        </div>
    </div>

    <div class="flex gap-2">
        <div class="basis-1/3 grow-0 space-y-1">
            <label for="yearBuilt" class="block text-xs text-slate-400 font-semibold">Año de Construcción</label>
            <input type="text" name="yearBuilt" id="yearBuilt" class="w-full border {{with .Invalid.YearBuilt}}border-rose-700 text-rose-700 bg-rose-100{{else}}border-slate-200{{end}} rounded px-2 py-1" placeholder="2010" {{with .Data.yearBuilt}}value="{{.}}"{{end}}>
            {{with .Invalid}}
            {{if .YearBuilt}}
            <p class="text-xs font-bold text-rose-700" id="invalid-yearBuilt">
            El año de construccion es invalido
            </p>
            {{end}}
            {{end}}
        </div>

        <div class="basis-1/3 grow-0 space-y-1">
            <label for="status" class="block text-xs text-slate-400 font-semibold">Estatus</label>
            <select name="status" id="status" class="w-full border border-slate-200 rounded px-2 py-1">
                <option
                value="disponible"
                {{with .Data}}{{if eq (.status) "disponible"}}selected{{end}}{{end}}>
                Disponible
                </option>
                <option 
                value="vendida"
                {{with .Data}}{{if eq (.status) "vendida"}}selected{{end}}{{end}}>
                Vendida
                </option>
                <option 
                value="no_disponible"
                {{with .Data}}{{if eq (.status) "no_disponible"}}selected{{end}}{{end}}>
                No disponible
                </option>
            </select>
        </div>

        <div class="basis-1/3 grow-0 space-y-1">
            <label for="contract" class="block text-xs text-slate-400 font-semibold">Tipo Contrato</label>
            <select name="contract" id="contract" class="w-full border border-slate-200 rounded px-2 py-1">
                <option
                value="venta"
                {{with .Data}}{{if eq (.contract) "venta"}}selected{{end}}{{end}}>
                Venta
                </option>
                <!-- <option -->
                <!-- value="renta" -->
                <!-- {{with .Data}}{{if eq (.contract) "renta"}}selected{{end}}{{end}}> -->
                <!-- Renta -->
                <!-- </option> -->
            </select>
        </div>
    </div>

    <div class="flex gap-2">
        <div class="basis-1/2 grow-0 space-y-1">
            <label for="lat" class="block text-xs text-slate-400 font-semibold">Latitud (coordenadas)</label>
            <input type="text" name="lat" id="lat" class="w-full border {{with .Invalid.Lat}}border-rose-700 text-rose-700 bg-rose-100{{else}}border-slate-200{{end}} rounded px-2 py-1" placeholder="24.100100" {{with .Data.lat}}value="{{.}}"{{end}}>
            {{with .Invalid}}
            {{if .Lat}}
            <p class="text-xs font-bold text-rose-700" id="invalid-lat">
            La latitud es invalida
            </p>
            {{end}}
            {{end}}
        </div>

        <div class="basis-1/2 grow-0 space-y-1">
            <label for="lon" class="block text-xs text-slate-400 font-semibold">Longitud (coordenadas)</label>
            <input type="text" name="lon" id="lon" class="w-full border {{with .Invalid.Lon}}border-rose-700 text-rose-700 bg-rose-100{{else}}border-slate-200{{end}} rounded px-2 py-1" placeholder="-104.200300" {{with .Data.lon}}value="{{.}}"{{end}}>
            {{with .Invalid}}
            {{if .Lon}}
            <p class="text-xs font-bold text-rose-700" id="invalid-lon">
            La longitud es invalida
            </p>
            {{end}}
            {{end}}
        </div>
    </div>
    <div class="py-0.5"></div>
    {{with .Success}}
    <div class="text-emerald-400 font-bold text-sm">
        Se creó la propiedad con exito. Reenviar este formulario actualizará la propiedad ya creada.
        Puedes verla dando click en <a target="_blank" class="underline underline-offset-2" href="/propiedades/{{$.Data.contract}}/{{$.Data.id}}">este link</a>
    </div>
    {{end}}
    {{with .Invalid}}
    <p class="text-rose-700 text-xs">El fomulario contiene información invalida. Por favor revisalo y vuelve a intentar</p>
    {{end}}
    {{with .RegisterError}}
    <p class="text-rose-700 text-xs">Ocurrió un error durante el registro: {{.}}</p>
    {{end}}
    <div class="py-1"></div>
    <div class="flex justify-end">
        <button class="basis-1/3 px-4 py-2 rounded bg-slate-700 text-stone-50" type="submit">Enviar</button>
    </div>
</form>
{{end}}
{{with .Success}}
{{template "prop-pic-form" $}}
{{end}}
