{{define "content"}}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        // User form
        attachUserListeners()
        
        let userLoadingSpinnerTl = gsap.timeline({ duration: 0.1, ease:"power2.in" })
        userLoadingSpinnerTl.pause()
        userLoadingSpinnerTl.set("#user-loading", { visibility: "visible" })
        userLoadingSpinnerTl.to("#user-loading", { opacity: 1 })
        
        // Picture Form
        attachPictureListeners()

        let picLoadingSpinnerTl = gsap.timeline({ duration: 0.1, ease:"power2.in" })
        picLoadingSpinnerTl.pause()
        picLoadingSpinnerTl.set("#pic-loading", { visibility: "visible" })
        picLoadingSpinnerTl.to("#pic-loading", { opacity: 1 })

        htmx.on("htmx:configRequest", e => {
            switch (e.target.id) {
                case "edit-user-form":
                case "change-pass-form":
                case "del-user-form":
                    userLoadingSpinnerTl.play()
                    break;
                case "edit-pic-form":
                case "del-pic-form":
                    picLoadingSpinnerTl.play()
                    document.getElementById("pic-success")?.remove()
                    break;
            }
        })

        htmx.on("htmx:beforeSwap", e => {
            e.detail.shouldSwap = true

            switch (e.srcElement.id) {
                case "edit-user-form":
                case "change-pass-form":
                case "del-user-form":
                    userLoadingSpinnerTl.revert()
                    break;
                case "edit-pic-form":
                case "del-pic-form":
                    picLoadingSpinnerTl.revert()
                    break;
            }
        })
        htmx.on("htmx:afterSwap", e => {
            if (e.target.id === "user-data" || e.target.id === "user-pic" && e.detail.successful) {
                gsap.set(e.target, { display: "block" })
                gsap.to(e.target, { opacity: 1, x: "0%" })
            }
            if (e.detail.failed) {
                gsap.to(e.target, { display: "block", opacity: 1, x: "0%" })
            }
            switch (e.srcElement.id) {
                case "edit-user-form":
                case "change-pass-form":
                case "del-user-form":
                    attachUserListeners()
                    break;
                case "edit-pic-form":
                case "del-pic-form":
                    attachPictureListeners()
                    break;
            }
        })
    })

    function attachUserListeners() {
        let userData = document.getElementById("user-data")
        let editUserForm = document.getElementById("edit-user-form")
        let changePassForm = document.getElementById("change-pass-form")
        let delUserForm = document.getElementById("del-user-form")
        let editUserBtn = document.getElementById("edit-user")
        let changePassBtn = document.getElementById("change-pass")
        let delUserBtn = document.getElementById("del-user")
        let cancelEditUserBtn = document.getElementById("cancel-edit-user")
        let cancelChangePassBtn = document.getElementById("cancel-change-pass") 
        let cancelDelUserBtn = document.getElementById("cancel-del-user")

        editUserBtn.addEventListener("click", () => {
            let tl = gsap.timeline({ duration: 0.3, ease: "power2.in" })
            tl.to(userData, { opacity: 0, x: "-100%" })
            tl.set(userData, { display: "none" })
            tl.set(editUserForm, { display: "block" }, "<")
            tl.to(editUserForm, { opacity: 1, x: "0%" }, "<")
        })
        cancelEditUserBtn.addEventListener("click", () => {
            let tl = gsap.timeline({ duration: 0.3, ease: "power2.in" })
            tl.to(editUserForm, { opacity: 0, x: "100%" })
            tl.set(editUserForm, { display: "none" })
            tl.set(userData, { display: "block" }, "<")
            tl.to(userData, { opacity: 1, x: "0%" }, "<")
        })

        changePassBtn.addEventListener("click", () => {
            let tl = gsap.timeline({ duration: 0.3, ease: "power2.in" })
            tl.to(userData, { opacity: 0, x: "-100%" })
            tl.set(userData, { display: "none" })
            tl.set(changePassForm, { display: "block" }, "<")
            tl.to(changePassForm, { opacity: 1, x: "0%" }, "<")
        })
        cancelChangePassBtn.addEventListener("click", () => {
            let tl = gsap.timeline({ duration: 0.3, ease: "power2.in" })
            tl.to(changePassForm, { opacity: 0, x: "100%" })
            tl.set(changePassForm, { display: "none" })
            tl.set(userData, { display: "block" }, "<")
            tl.to(userData, { opacity: 1, x: "0%" }, "<")
        })

        /* delUserBtn.addEventListener("click", () => {
            delUserTl.play()
        }) */
        cancelDelUserBtn.addEventListener("click", () => {
            let tl = gsap.timeline({ duration: 0.3, ease: "power2.in" })
            tl.to(delUserForm, { opacity: 0, x: "100%" })
            tl.set(delUserForm, { display: "none" })
            tl.set(userData, { display: "block" }, "<")
            tl.to(userData, { opacity: 1, x: "0%" }, "<")
        })

        let confirmDelInp = document.getElementById("confirm-del")
        confirmDelInp.addEventListener("input", e => {
            let submitDelUserBtn = document.getElementById("submit-del-user")
            let val = e.target.value

            if (val === "eliminar cuenta") {
                submitDelUserBtn.disabled = false
            } else {
                submitDelUserBtn.disabled = true
            }
        })
    }

    function attachPictureListeners() {
        let editPicBtn = document.getElementById("edit-pic")
        let delPicBtn = document.getElementById("del-pic")
        let cancelEditPicBtn = document.getElementById("cancel-edit-pic")
        let cancelDelPicBtn = document.getElementById("cancel-del-pic")

        editPicBtn.addEventListener("click", () => {
            let tl = gsap.timeline({ duration: 0.3, ease: "power2.in" })
            tl.to("#user-pic", { opacity: 0, x: "-100%" })
            tl.set("#user-pic", { display: "none" })
            tl.set("#edit-pic-form", { display: "block" }, "<")
            tl.to("#edit-pic-form", { opacity: 1, x: "0%" }, "<")
        })
        cancelEditPicBtn.addEventListener("click", () => {
            let tl = gsap.timeline({ duration: 0.3, ease: "power2.in" })
            tl.to("#edit-pic-form", { opacity: 0, x: "100%" })
            tl.set("#edit-pic-form", { display: "none" })
            tl.set("#user-pic", { display: "block" }, "<")
            tl.to("#user-pic", { opacity: 1, x: "0%" }, "<")
        })

        delPicBtn.addEventListener("click", () => {
            let tl = gsap.timeline({ duration: 0.3, ease: "power2.in" })
            tl.to("#user-pic", { opacity: 0, x: "-100%" })
            tl.set("#user-pic", { display: "none" })
            tl.set("#del-pic-form", { display: "block" }, "<")
            tl.to("#del-pic-form", { opacity: 1, x: "0%" }, "<")
        })
        cancelDelPicBtn.addEventListener("click", () => {
            let tl = gsap.timeline({ duration: 0.3, ease: "power2.in" })
            tl.to("#del-pic-form", { opacity: 0, x: "100%" })
            tl.set("#del-pic-form", { display: "none" })
            tl.set("#user-pic", { display: "block" }, "<")
            tl.to("#user-pic", { opacity: 1, x: "0%" }, "<")
        })

        let confirmPicDelInp = document.getElementById("confirm-pic-del")
        confirmPicDelInp.addEventListener("input", e => {
            let submitDelPicBtn = document.getElementById("submit-del-pic")
            let val = e.target.value

            if (val === "eliminar foto") {
                submitDelPicBtn.disabled = false
            } else {
                submitDelPicBtn.disabled = true
            }
        })
    }
</script>
<h2 class="text-lg font-bold">Perfil de usuario</h2>
<div class="py-1"></div>
<div class="grid grid-cols-3 gap-2 flex-auto">
    <!-- User form -->
    <div class="relative col-start-1 border border-slate-200 rounded py-2 px-4 self-start overflow-hidden">
        <div
            id="user-loading"
            class="invisible opacity-0 absolute inset-0 rounded flex flex-col items-center justify-center gap-3 bg-slate-700 bg-opacity-30 z-30">
            <svg class="w-12 h-12 fill-slate-200 animate-spin">
                <use href="/static/svg/spinner.svg#spinner"></use>
            </svg>
            <p class="text-slate-50 text-center font-bold">Cargando</p>
        </div>
        <div class="flex justify-between">
            <h3 class="font-bold">Tus datos</h3>
        </div>
        <div class="py-2"></div>
        {{block "user-data" .}}
        <div id="user-data" hx-swap-oob="outerHTML">
            <div class="flex gap-6 justify-between">
                <div class="">
                    <p class="text-xs text-slate-400 font-bold">Nombre completo</p>
                    <p class="text-slate-600 font-semibold">{{.User.Name}} {{.User.Lastname}}</p>
                </div>
                <div class="">
                    <p class="text-xs text-slate-400 font-bold">Rol</p>
                    <p class="text-slate-600 font-semibold">{{PrintRole .User.Role}}</p>
                </div>
            </div>
            <div class="py-2"></div>
            <div class="flex gap-6 justify-between">
                <div class="">
                    <p class="text-xs text-slate-400 font-bold">Email</p>
                    <p class="text-slate-600 font-semibold">{{.User.Email}}</p>
                </div>
                <div class="">
                    <p class="text-xs text-slate-400 font-bold">Teléfono</p>
                        <p class="text-slate-600 font-semibold text-center">
                        {{if .User.Phone.Valid}}
                        {{.User.Phone.String}}
                        {{else}} 
                        <strong>--</strong>
                        {{end}}
                        </p>
                </div>
                <div class="">
                    <p class="text-xs text-slate-400 font-bold">Usuario</p>
                    <p class="text-slate-600 font-semibold">{{.User.Username}}</p>
                </div>
            </div>
            {{with .Success}}
            <div class="py-1"></div>
            <p class="text-emerald-400 text-sm font-semibold">El usuario se actualizo con exito</p>
            {{end}}

            <div class="py-4"></div>
            <div class="flex gap-6 justify-between">
                <!-- <button
                    type="button"
                    class="bg-rose-700 text-stone-50 px-4 py-2 rounded"
                    id="del-user">
                    Darme de baja
                </button> -->
                <button
                    type="button"
                    class="bg-slate-700 text-stone-50 px-4 py-2 rounded"
                    id="change-pass">
                    Cambiar Contraseña
                </button>
                <button 
                    type="button"
                    class="bg-slate-700 text-stone-50 px-4 py-2 rounded"
                    id="edit-user">
                    Editar
                </button>
            </div>
        </div>
        {{end}}
        {{block "edit-user-form" .}}
        <form
            class="hidden opacity-0 translate-x-full"
            hx-put="/api/users/{{.User.Id}}"
            hx-swap="outerHTML"
            id="edit-user-form">
            <div class="flex gap-6 justify-between">
                <div class="basis-1/2 shrink grow-0">
                    <label for="name" class="block text-xs {{with .Invalid.Name}}text-rose-700{{else}}text-slate-400{{end}} font-bold">Nombre(s)</label>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        class="w-full px-2 py-1 border {{with .Invalid.Name}}border-rose-700 text-rose-700{{else}}border-slate-300{{end}} rounded"
                        value="{{with .Data}}{{.name}}{{else}}{{$.User.Name}}{{end}}">
                </div>
                <div class="basis-1/2 shrink grow-0">
                    <label for="lastname" class="block text-xs {{with .Invalid.Lastname}}text-rose-700{{else}}text-slate-400{{end}} font-bold">Apellidos</label>
                    <input
                        type="text"
                        name="lastname"
                        id="lastname"
                        class="w-full px-2 py-1 border {{with .Invalid.Lastname}}border-rose-700 text-rose-700{{else}}border-slate-300{{end}} rounded"
                        value="{{with .Data}}{{.lastname}}{{else}}{{$.User.Lastname}}{{end}}">
                </div>
            </div>
            <div class="py-2"></div>
            <div class="flex gap-6 justify-between">
                <div class="basis-1/2 shrink grow-0">
                    <label for="email" class="block text-xs {{with .Invalid.Email}}text-rose-700{{else}}text-slate-400{{end}} font-bold">Email</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        class="w-full px-2 py-1 border {{with .Invalid.Email}}border-rose-700 text-rose-700{{else}}border-slate-300{{end}} rounded"
                        value="{{with .Data}}{{.email}}{{else}}{{$.User.Email}}{{end}}">
                </div>
                <div class="basis-1/2 shrink grow-0">
                    <label for="phone" class="block text-xs {{with .Invalid.Phone}}text-rose-700{{else}}text-slate-400{{end}} font-bold">Teléfono</label>
                    <input
                        type="tel"
                        name="phone"
                        id="phone"
                        class="w-full px-2 py-1 border {{with .Invalid.Phone}}border-rose-700 text-rose-700{{else}}border-slate-300{{end}} rounded"
                        value="{{with .Data}}{{.phone}}{{else}}{{$.User.Phone.String}}{{end}}">
                </div>
            </div>
            {{with .Invalid}}
            <div class="py-1"></div>
            <p class="text-rose-700 text-sm font-semibold">El formulario contiene información inválida</p>
            {{end}}

            {{with .Error}}
            <div class="py-1"></div>
            <p class="text-rose-700 text-sm font-semibold">
            {{with $.ErrorMessage}}
            {{.}}
            {{else}}
            Ocurrió un error al actualizar el usuario
            {{end}}
            </p>
            {{end}}

            <div class="py-4"></div>
            <div class="flex gap-6 justify-between">
                <button
                    type="button"
                    class="bg-rose-700 text-stone-50 px-4 py-2 rounded"
                    id="cancel-edit-user">
                    Cancelar
                </button>
                <button 
                    type="submit"
                    class="bg-slate-700 text-stone-50 px-4 py-2 rounded"
                    id="submit-edit-user">
                    Guardar
                </button>
            </div>
        </form>
        {{with .Success}}
        {{template "user-data" $}}
        {{end}}
        {{end}}

        {{block "change-pass" .}}
        <form
            class="hidden opacity-0 translate-x-full"
            hx-put="/api/users/{{.User.Id}}/password"
            hx-swap="outerHTML"
            id="change-pass-form">
            <div class="space-y-1">
                <label for="pass" class="block text-slate-700 text-sm">Contraseña Actual</label>
                <input type="password" name="pass" id="pass" class="w-full border border-slate-300 rounded px-2 py-1 focus:outline-slate-700" required>
            </div>
            <div class="py-1"></div>
            <div class="flex gap-6 justify-between">
                <div class="basis-1/2 shrink grow-0 space-y-1">
                    <label for="new-pass" class="block text-slate-700 text-sm">Contraseña Nueva</label>
                    <input type="password" name="new-pass" id="new-pass" class="w-full border border-slate-300 rounded px-2 py-1 focus:outline-slate-700" required>
                </div>
                <div class="basis-1/2 shrink grow-0 space-y-1">
                    <label for="confirm-pass" class="block text-slate-700 text-sm">Confirmar Contraseña</label>
                    <input type="password" name="confirm-pass" id="confirm-pass" class="w-full border border-slate-300 rounded px-2 py-1 focus:outline-slate-700" required>
                </div>
            </div>

            {{with .Invalid}}
            <div class="py-1"></div>
            <p class="text-rose-700 text-sm font-semibold">El formulario contiene información inválida</p>
            {{end}}

            {{with .Error}}
            <div class="py-1"></div>
            <p class="text-rose-700 text-sm font-semibold">
            {{with $.ErrorMessage}}
            {{.}}
            {{else}}
            Ocurrió un error al actualizar el usuario
            {{end}}
            </p>
            {{end}}
            <div class="py-4"></div>
            <div class="flex gap-6 justify-between">
                <button
                    type="button"
                    class="bg-rose-700 text-stone-50 px-4 py-2 rounded"
                    id="cancel-change-pass">
                    Cancelar
                </button>
                <button 
                    type="submit"
                    class="bg-slate-700 text-stone-50 px-4 py-2 rounded"
                    id="submit-change-pass">
                    Guardar
                </button>
            </div>
        </form>
        {{with .Success}}
        {{template "user-data" $}}
        {{end}}
        {{end}}

        {{block "del-user-form" .}}
        <form
            class="hidden opacity-0 translate-x-full"
            hx-delete="/api/users/{{.User.Id}}"
            hx-swap="outerHTML"
            id="del-user-form">
            <p class="text-slate-600">Debes confirmar que deseas cerrar tu cuenta</p>
            <div class="py-1"></div>
            <label for="confirm-del" class="block text-rose-700 text-sm">Escribe <strong>"eliminar cuenta"</strong> para confirmar</label>
            <input type="text" name="confirm-del" id="confirm-del" class="w-full border-rose-700 border rounded px-2 py-1 focus:outline-rose-700">

            <div class="py-4"></div>
            <div class="flex gap-6 justify-between">
                <button
                    type="button"
                    class="bg-slate-700 text-stone-50 px-4 py-2 rounded"
                    id="cancel-del-user">
                    Cancelar
                </button>
                <button 
                    type="submit"
                    class="bg-rose-700 text-stone-50 px-4 py-2 rounded disabled:opacity-80"
                    id="submit-del-user"
                    disabled>
                    Confirmar
                </button>
            </div>
        </form>
        {{end}}
    </div>

    <!-- Profile Pic -->
    <div class="relative col-start-2 row-start-1 border border-slate-200 rounded py-2 px-4 self-start overflow-hidden">
        <div
            id="pic-loading"
            class="invisible opacity-0 absolute inset-0 rounded flex flex-col items-center justify-center gap-3 bg-slate-700 bg-opacity-30 z-30">
            <svg class="w-12 h-12 fill-slate-200 animate-spin">
                <use href="/static/svg/spinner.svg#spinner"></use>
            </svg>
            <p class="text-slate-50 text-center font-bold">Cargando</p>
        </div>
        <h3 class="font-bold">Foto de perfil</h3>
        <div class="py-2"></div>
        {{block "user-pic" .}}
        <div id="user-pic" hx-swap-oob="outerHTML">
            <div class="max-h-48">
                {{with .User.Img}}
                <img src="/static/users/{{.}}" alt="Foto de perfil del usuario {{$.User.Name}} {{$.User.Lastname}}" class="max-h-48 aspect-square object-cover object-center rounded-full mx-auto">
                {{else}}
                <svg class="h-48 w-48 fill-slate-700 mx-auto">
                    <use href="/static/svg/sprites.svg#user"></use>
                </svg>
                {{end}}
            </div>
            {{if not .User.Img}}
            <div class="py-1"></div>
            <p class="text-center text-slate-600 font-semibold">Sin foto</p>
            {{end}}
            {{with .Success}}
            <div class="py-1"></div>
            <p class="text-center text-emerald-400 font-semibold" id="pic-success">Foto actualizada con exito.</p>
            {{end}}
            <div class="py-2"></div>
            <div class="flex gap-6 justify-between">
                <button
                    type="button"
                    class="bg-rose-700 text-stone-50 px-4 py-2 rounded disabled:opacity-80" 
                    id="del-pic"
                    {{if eq .User.Img ""}}disabled{{end}}>
                    Eliminar
                </button>
                <button 
                    type="button"
                    class="bg-slate-700 text-stone-50 px-4 py-2 rounded" 
                    id="edit-pic">
                    Editar
                </button>
            </div>
        </div>
        {{end}}

        {{block "edit-pic-form" .}}
        <form
            hx-put="/api/users/{{.User.Id}}/pic"
            hx-encoding="multipart/form-data"
            hx-swap="outerHTML"
            class="hidden opacity-0 translate-x-full"
            id="edit-pic-form">
            <!--
            <div class="h-48">
                <div class="max-h-48" id="pic-preview-wrapper">
                    {{with .User.Img}}
                    <img src="/static/users/{{.}}" alt="Foto de perfil del usuario {{$.User.Name}} {{$.User.Lastname}}" class="max-h-48 aspect-square object-cover object-center rounded-full mx-auto" id="pic-preview">
                    {{else}}
                    <svg class="h-48 w-48 fill-slate-700 mx-auto" id="pic-preview">
                        <use href="/static/svg/sprites.svg#user"></use>
                    </svg>
                    {{end}}
                </div>
            </div>
            -->
            <label for="picture" class="text-slate-400 font-bold">Añade tu nueva foto</label>
            <input 
            class="border {{with .Error}}border-rose-700{{else}}border-slate-300{{end}} rounded p-2 w-full"
                type="file"
                name="picture"
                id="picture"
                accept="image/*">
            {{with .Error}}
            <div class="py-1"></div>
            <p class="text-rose-700 text-sm font-semibold">
            {{with $.ErrorMessage}}
            {{.}}
            {{else}}
            Ocurrió un error al actualizar la imagen
            {{end}}
            </p>
            {{end}}

            <div class="py-2"></div>
            <div class="flex justify-between">
                <button
                    type="button"
                    class="bg-rose-700 text-stone-50 px-4 py-2 rounded" 
                    id="cancel-edit-pic">
                    Cancelar
                </button>
                <button 
                    type="submit"
                    class="bg-slate-700 text-stone-50 px-4 py-2 rounded" 
                    id="submit-edit-pic">
                    Guardar
                </button>
            </div>
        </form>
        {{with .Success}}
        {{template "user-pic" $}}
        {{end}}
        {{end}}

        {{block "del-pic-form" .}}
        <form
            class="hidden opacity-0 translate-x-full"
            hx-delete="/api/users/{{.User.Id}}/pic"
            hx-swap="outerHTML"
            id="del-pic-form">
            <p class="text-slate-600">Debes confirmar que deseas eliminar tu foto</p>
            <div class="py-1"></div>
            <label for="confirm-pic-del" class="block text-rose-700 text-sm">Escribe <strong>"eliminar foto"</strong> para confirmar</label>
            <input type="text" name="confirm-pic-del" id="confirm-pic-del" class="w-full border-rose-700 border rounded px-2 py-1 focus:outline-rose-700">
            {{with .Error}}
            <div class="py-1"></div>
            <p class="text-rose-700 text-sm font-semibold">
            {{with $.ErrorMessage}}
            {{.}}
            {{else}}
            Ocurrió un error al eliminar la imagen
            {{end}}
            </p>
            {{end}}

            <div class="py-4"></div>
            <div class="flex gap-6 justify-between">
                <button
                    type="button"
                    class="bg-slate-700 text-stone-50 px-4 py-2 rounded"
                    id="cancel-del-pic">
                    Cancelar
                </button>
                <button 
                    type="submit"
                    class="bg-rose-700 text-stone-50 px-4 py-2 rounded disabled:opacity-80"
                    id="submit-del-pic"
                    disabled>
                    Confirmar
                </button>
            </div>
        </form>
        {{with .Success}}
        {{template "user-pic" $}}
        {{end}}
        {{end}}
    </div>
</div>
{{end}}
